@media only screen and (max-width: 768px) {

    .row-width {
        padding: 7px 16px;
    }

    header {
        padding: 20px;
        background-position-y: 23%;
    }

    h1 {
        font-size: 22px;
    }

    .footer.row-width {
        padding: 0;
    }

    .about {
        font-size: 17px;
    }

    .content {
        width: 100%;
    }

}